venv/
.venv/
.idea/
.vscode/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/

# ruff
.ruff_cache/

# Claude
CLAUDE.md
.claude/

# OS specific stuff
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Thumbs.db
editor.swp
editor~
ehthumbs.db

# Sphinx documentation
docs/_build/
docs/api/

# development QASM files
QASM_files/development
benchmarks/
runs/
paper_run_files/

*.pyc

run.py
adapted_run_benchmarks.py
timeline.json
