venv/
.venv/
.idea/
.vscode/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class
*.pyc

build/
dist/
*.egg-info/

# Ignore macOS system files
.DS_Store

# Sphinx documentation
docs/_build/
docs/api/

# development QASM files
QASM_files/development
benchmarks/
paper_run_files/
runs/
paper_run_files/

run.py
adapted_run_benchmarks.py
adapted_run_connecting.py
adapted_run_log_telep.py
make_timeline_dev.py
make_timeline.py
timeline.json
