venv/
.venv/
.idea/
.vscode/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/

# Ignore macOS system files
.DS_Store

# Sphinx documentation
docs/_build/
docs/api/

# development QASM files
QASM_files/development
benchmarks/
runs/
paper_run_files/

__pycache__/
*.pyc

# VS Code
.vscode/

# development QASM files
QASM_files/development
benchmarks/
runs/

run.py
adapted_run_benchmarks.py
timeline.json
